
<div id="demo_path" class="demo_path">
    <script>
        //let path = []
        {% for data in path_data %}
        console.log({{ data }});
        //path.push([data[0], data[1]])
        // row = {{ data }}.split(',');
        // lat = Number(row[2].trim());
        // lon = Number(row[3].trim());
        // print([lat, lon]);
        // latlngs.push([lat, lon]);
        {% endfor %}
        // console.log(path);
        //var polyline = L.polyline(path, {color: 'red'}).addTo(map);
        //map.fitBounds(polyline.getBounds());
    </script>
    

</div>