<!DOCTYPE html>

<!--REQUIRE Live Server EXTENSION IN VSCODE-->
<!--To run, right click, Open with Live Server-->
<!--Can also now be served on the Flask server-->

<html lang="en">
    <head>
        <title>Real Time GIS</title>
        <meta charset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Senior-Design">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>

    </head>

    <body>
        <h1 class="center">Real Time Geoinformation System</h1>
        <div id="map"></div>

        <br/><br/>
        <div class="settings-div">
            <h3>Recording Options:</h3>
            <button onclick="startRecording()" id="start-recording-button">Start Recording</button>
            <button onclick="stopRecording()" id="stop-recording-button" hidden>Stop Recording</button>
            <br/><br/>
        </div>

        <br/>

        <div class="settings-div">
            <h3>Replay Options:</h3>
            <label for="replay-file">Choose a replay file:</label>
            <br/>
            <!-- IF LOG FILE TYPE CHANGES, CHANGE THE "accept" ATTRIBUTE -->
            <input type="file"
                id="replay-file" name="replay-file"
                accept=".log">
            <br/><br/>
            <label for="replay-speed">Playback speed:</label>
            <br/>
            <select name="playback-speed" id="replay-speed">
                <option value="2">0.5x</option>
                <option value="1" selected>1.0x</option>
                <option value="0.5">2.0x</option>
            </select>
            <br/><br/>
            <button onclick="requestReplay()">Run replay</button>

            <script src="{{url_for('static', filename='script.js')}}"></script>
        </div>
    </body>
    

</html>