<!DOCTYPE html>

<!--REQUIRE Live Server EXTENSION IN VSCODE-->
<!--To run, right click, Open with Live Server-->
<!--Can also now be served on the Flask server-->

<html lang="en">
    <head>
        <title>Real Time GIS</title>
        <meta charset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Senior-Design">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>

    </head>

    <body>
        <h1 class="center">Real Time Geoinformation System</h1>
        <div id="map"></div>
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
    

</html>